#menu{
width:350px;
height:100vh;
display:inline-block;
/*background-color:rgb(221, 221, 221);*/
background-color: white;
float:left;
}
#mainContentContener{
    width:calc(100vw - 350px);
    height:100%;
    display:inline-block;

}

@media (min-width:1200px){
  #MainContainer{
      overflow: hidden !important;
  }
}
#MainContainer{
  width:100vw;
  height:100vh;
  display: inline-block;
}
.navbar{
  min-width:1550px;
  height:80px ;
  padding:10px ;
}
.nav-link{
  color:rgb(36,56,124);
  letter-spacing: 2px;
  font-weight: bolder !important;
}
.nameCity{
display:inline-block;
width:100%;
padding:2%;
text-align:center;
}
.wroclaw{
  color:rgb(36,56,124);
  font-weight: bolder;
  letter-spacing: 2px;
}
.nameCity:hover{
  cursor:pointer;
}
area:hover{
    cursor:pointer;
  }

.visible{
  display:block;
}
.hidden{
  display:none;
}
a{
  color:black;
}
a:hover{
  color:rgb(138, 138, 138);
  text-decoration: none;
}
.formInline{
  display:inline-block;
}
.datetime{
margin-right:5%;
margin-left:5%;
}
.time{
  margin-right:5%;
  }

.floorName{
  font-weight: bolder;
  text-align:center;
  display: inline-block;
  letter-spacing: 2px;
  color:rgb(36,56,124);

}
.floorData{
padding-top:1%;
min-width:1200px;
height:80px;
/*background-color:rgb(221, 221, 221);*/
background-color:white;
text-align:center;
}
.center{
  text-align:center
}
.break{
  height:80px;
}

.table:hover, .room:hover{
  cursor: pointer;
}
.table{
width:30px;
height:30px;
position:absolute;
opacity:0.7;
transform: rotate(70deg);
}
.room{
  width:80px;
  height:80px;
  opacity:0.7;
  position:absolute;
  transform: rotate(70deg);
  }
.Place1Wro2{
  top:583px;
  left:437px;
}
.Place2Wro2{
  top:658px;
  left:468px;
}
.Place3Wro2{
  top:536px;
  left:540px;
}
.Place4Wro2{
  top:611px;
  left:572px;
}
.Place5Wro2{
  top:493px;
  left:634px;
}
.Place6Wro2{
  top:569px;
  left:664px;
}
.Place7Wro2{
  top:449px;
  left:738px;
}
.Place8Wro2{
  top:525px;
  left:768px;
}
.Place9Wro2{
  top:407px;
  left:841px;
}
.Place10Wro2{
  top:484px;
  left:869px;
}
.Place11Wro2{
  top:367px;
  left:945px;
}
.Place12Wro2{
  top:443px;
  left:973px;
}
.Place13Wro2{
  top:356px;
  left:1052px;
}
#popup{
  text-align: center;
  width:30%;
  height:35%;
  position:absolute;
  top:30%;
  left:40%;
  background-color: rgb(230, 230, 230);
}
#popupEr{
  text-align: center;
  width:30%;
  height:55%;
  position:absolute;
  top:30%;
  left:40%;
  background-color: rgb(230, 230, 230);
}
.popupText{
  font-size: 2.5rem;
  margin-top:10%;
  margin-bottom:5%;
}
.popupErText{
  font-size: 2.5rem;
  margin-top:10%;
  margin-bottom:5%;
}
@media (max-width:800px) {
  #popup{
    width:50%;
    left:70%;
  }
  .popupText{
    font-size: 1.6rem;
  }
  .popupErText{
    font-size: 1.4rem;
    padding-top:8%;
  }
  #popupEr{
    width:50%;
    left:120%;
  }
}
@media (max-width:450px) {
  #popup{
    width:90%;
    height:45%;
    left:120%;
  }
}
.visibility{
  visibility : hidden;
}
.visibilityEr{
  visibility : hidden;
}
.chooseDate{
 text-align:center;
 margin-top:20%;
 font-size:3em;
 font-weight: bolder;
 text-transform: uppercase;
 letter-spacing: 3px;
 color:rgb(36,56,124);
}
.bolder{
  font-weight: bolder;
  font-size: 1.2rem;
}
#placeContainer{
  visibility: visible;
}
.clear{
 margin-left:5%;
 font-weight: bolder;
}
.navcolor{
  background-color: rgb(245, 245, 245);
  border-bottom: 2px solid rgb(78,175,193);
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
  background: rgb(78,175,193) !important;
  border: 1px double rgb(78,175,193)  !important;
}
.fa-sign-out-alt{
  font-size: 1.4em;
}